<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>游戏资源处理</title>
    <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
    <script src="https://unpkg.com/element-plus"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .el-button-group {
            display: flex;
            justify-content: center;
            margin-top: -8px;
            margin-bottom: 8px;
        }
    </style>
</head>

<body class="bg-gray-100 py-8 px-4">
<div id="app">
    <!-- 登录界面 -->
    <div v-if="!isAuthenticated" class="flex justify-center items-center min-h-screen">
        <div class="bg-white p-8 rounded-lg shadow-md w-96">
            <h2 class="text-2xl font-bold mb-6 text-center">访问验证</h2>
            <el-form @submit.prevent="validatePassword">
                <el-form-item>
                    <el-input
                            v-model="password"
                            type="password"
                            placeholder="请输入访问密码"
                            @keyup.enter="validatePassword"
                    />
                </el-form-item>
                <el-form-item>
                    <el-button
                            type="primary"
                            @click="validatePassword"
                            class="w-full"
                    >
                        确认
                    </el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>

    <!-- 主要内容 -->
    <div v-else class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- 使用 v-for 循环渲染表单 -->
        <div v-for="(form, index) in forms" :key="index" class="bg-white p-6 rounded-lg shadow-md">
            <div class="text-center text-xl font-semibold mb-4">{|form.headTitle|}</div>
            <el-form :model="form" label-width="100px" @submit.prevent="submitForm(form)">
                <!-- SteamID -->
                <el-form-item label="SteamID" :rules="[{ required: true, message: '请输入SteamID', trigger: 'blur' }]"
                              clearable>
                    <el-input v-model="form.appId" placeholder="输入SteamID" @blur="getSteamName(form)"/>
                </el-form-item>

                <!-- 版本 -->
                <el-form-item label="版本" autocomplete=""
                              :rules="[{ required: true, message: '请输入版本', trigger: 'blur' }]"
                              clearable>
                    <el-input v-model="form.version" placeholder="版本信息" @focus="form.versionShow = true" @blur="formatVersion(form)"/>
                </el-form-item>
                <el-button-group v-show="form.versionShow" class="text-center">
                    <el-button
                            v-for="button in [{text: 'Build'}, {text: '免安装'}, {text: '官中'}]"
                            :key="button.text"
                            type="primary"
                            link
                            @click="handleSelect(form,2,button.text)"
                    >
                        {| button.text |}
                    </el-button>
                </el-button-group>

                <!-- 运行平台 -->
                <el-form-item label="运行平台">
                    <el-radio-group v-model="form.platform" default="电脑">
                        <el-radio-button label="电脑">电脑</el-radio-button>
                        <el-radio-button label="Switch">Switch</el-radio-button>
                        <el-radio-button label="手游">手游</el-radio-button>
                    </el-radio-group>
                </el-form-item>

                <!-- 资源链接 -->
                <el-form-item label="资源链接" clearable>
                    <el-input v-model="form.resourceLink.link" placeholder="输入资源链接"/>
                </el-form-item>

                <!-- 夸克链接 -->
                <el-form-item label="夸克链接" clearable>
                    <el-input v-model="form.quarkLink.link" placeholder="输入夸克链接" @blur="extractURL(form)"/>
                </el-form-item>

                <!-- 文件大小 -->
                <el-form-item label="大小" clearable>
                    <el-input v-model="form.size" placeholder="例如：20MB" @focus="form.sizeShow = true"></el-input>
                </el-form-item>
                <el-button-group v-show="form.sizeShow">
                    <el-button
                            v-for="button in [{text: 'M'}, {text: 'G'}]"
                            :key="button.text"
                            type="primary"
                            link
                            @click="handleSelect(form,1,button.text)"
                    >
                        {| button.text |}
                    </el-button>
                </el-button-group>

                <!-- 备注 -->
                <el-form-item label="备注" clearable>
                    <el-input
                            type="textarea"
                            v-model="form.remarks"
                            placeholder="输入备注"
                            :autosize="{ minRows: 3, maxRows: 6 }"></el-input>
                </el-form-item>

                <!-- 提交按钮 -->
                <el-form-item>
                    <el-button
                            type="primary"
                            :loading="form.isSubmitting"
                            @click="submitForm(form)"
                            :disabled="form.isSubmitting"
                    >
                        {|form.isSubmitting ? '提交中...' : '确认'|}
                    </el-button>
                    <el-button
                            type="primary"
                            @click="resetForm(form)"
                    >
                        重置
                    </el-button>
                    <el-switch
                            v-model="form.isUpload"
                            disabled
                            inline-prompt
                            style="--el-switch-on-color: #13ce66; --el-switch-off-color: #ff4949"
                            inactive-text="暂未上传"
                            active-text="已上传"></el-switch>
                </el-form-item>
            </el-form>
        </div>
    </div>
</div>

<script>
    const App = {
        // 自定义分隔符
        delimiters: ['{|', '|}'],
        data() {
            return {
                // 是否认证
                isAuthenticated: false,
                // 密码
                password: '',
                // 正确密码
                correctPassword: '52huahua',
                // 表单字段定义
                formFields: [
                    {
                        name: 'appId',
                        label: 'SteamID',
                        placeholder: '输入SteamID',
                        rules: [{required: true, message: '请输入SteamID', trigger: 'blur'}],
                        blur: this.getSteamName
                    },
                    {
                        name: 'platform',
                        label: '运行平台',
                        placeholder: '输入运行平台',
                        rules: [{required: true, message: '请输入运行平台', trigger: 'blur'}]
                    },
                    {
                        name: 'version',
                        label: '版本',
                        placeholder: '版本信息',
                        rules: [{required: true, message: '请输入版本', trigger: 'blur'}]
                    },
                    {
                        name: 'resourceLink',
                        label: '资源链接',
                        path: 'resourceLink.link',
                        placeholder: '输入资源链接'
                    },
                    {
                        name: 'quarkLink',
                        label: '夸克链接',
                        path: 'quarkLink.link',
                        placeholder: '输入夸克链接',
                        blur: this.extractURL
                    },
                    {
                        name: 'size',
                        label: '大小',
                        placeholder: '例如：20MB'
                    },
                    {
                        name: 'form.remarks',
                        label: '备注',
                        type: 'textarea',
                        placeholder: '输入备注',
                        autosize: {minRows: 3, maxRows: 6}
                    }
                ],
                // 使用数组存储表单
                forms: Array(1).fill(null).map(() => this.createBaseForm()),
            }
        },
        created() {
            // 认证验证
            this.isAuthenticated = localStorage.getItem('isAuthenticated');
        },
        methods: {
            createBaseForm() {
                return {
                    headTitle: '信息填写',
                    appId: '',
                    version: '',
                    versionShow: false,
                    resourceLink: {
                        link: '',
                        text: ''
                    },
                    quarkLink: {
                        link: '',
                        text: ''
                    },
                    size: '',
                    sizeShow: false,
                    remarks: '',
                    isSubmitting: false,
                    isUpload: false,
                    platform: '电脑'
                }
            },
            validatePassword() {
                if (this.password === this.correctPassword) {
                    this.isAuthenticated = true;
                    localStorage.setItem('isAuthenticated', 'true');
                } else {
                    this.$message.error('密码错误，请重试');
                }
            },
            extractURL(data) {
                const str = data.quarkLink.link;
                const urlRegex = /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)/gi;
                const url = str.match(urlRegex);
                data.quarkLink.link = url ? url[0] : ''
                data.quarkLink.text = url ? url[0] : ''
            },
            getSteamName(data) {
                fetch(`/steam_name/${data['appId']}`, {
                    method: 'GET',
                    headers: {'Content-Type': 'application/json'},
                })
                    .then(response => response.text())
                    .then(responseData => {
                        console.log('Steam 名称:', responseData);
                        data.headTitle = responseData;
                    })
                    .catch(error => {
                        console.error('获取 Steam 名称失败:', error);
                    });
            },
            submitForm(data) {
                if (data.isSubmitting) return
                data.isSubmitting = true
                console.log('提交的数据：', data);
                fetch('/add_feishu_record', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(data),
                })
                    .then(response => response.text())
                    .then(msg => {
                        this.$message.success(msg);
                        data.isUpload = true
                    })
                    .catch(error => {
                        data.isUpload = false
                    })
                    .finally(data.isSubmitting = false);
            },
            resetForm(data) {
                Object.assign(data, this.createBaseForm())
            },
            // 处理选择某项时的操作
            handleSelect(form, num, select) {
                switch (num) {
                    case 1:
                        form.size += select
                        form.sizeShow = false
                        return
                    case 2:
                        form.version += select
                        form.versionShow = false
                        return;
                }
            },
           formatVersion(form) {
                // v1.70 v0.12.0.5 将版本号中的 v 替换为大写, 匹配执行正则，避免替换所有v
                // form.version = form.version.replace(/v(?=\d)/g, 'V');


                if (form.version.includes('Build')) {
                    form.version = form.version.replace('Build', ' Build ');
                } else if (form.version.includes('免安装')) {
                    form.version = form.version.replace('免安装', ' 免安装 ');
                } else if (form.version.includes('官中')) {
                    form.version = form.version.replace('官中', ' 官中 ');
                } else if (form.version.includes('中文版')) {
                    form.version = form.version.replace('中文版', ' 中文版 ');
                } else if (form.version.includes('英文版')) {
                    form.version = form.version.replace('英文版', ' 英文版 ');
                }
                // 统一清理连续空格为一个
                form.version = form.version.replace(/\s+/g, ' ');
            }

        }
    }
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app");
</script>
</body>
</html>